.groups_heading {
  display: flex;
  gap: 5px;
  margin-bottom: 30px;

  .thumbs_icon {
    @include box(18px);
    color: $header15;
  }

  h4 {
    @include box(190px, 18px);
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
.group_container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;

  .group_icon {
    margin-right: 10px;
  }

  .group_name {
    width: 100px;
    height: 10px;
    margin-right: 28px;
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $header15;
  }

  button {
    @include box(60px, 24px);
    background: $header18;
    border-radius: 14px;
    font-family: $main-font;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    text-align: center;
    color: $header15;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
  }

  .set {
    @include box(100px, 24px);
    background-color: $header15;
    color: $header14;
  }
}

.seemore_btn {
  margin-top: 54px;
  height: 16px;
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: $primary19;
  font-weight: 400;
  cursor: pointer;
}
